@model E_Recarga.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Detalhes Trabalhador";
}

<center>
    <br />
    <h2>Detalhes: @Model.Name</h2>
    <br />
</center>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Station.ComercialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Station.ComercialName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.Id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Voltar</a>
</p>
