@model E_Recarga.ViewModels.UserViewModel
@using E_Recarga.Models
@using E_Recarga.ViewModels
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Pesquisar Estações";
}

<center>
    <br />
    <h1>Pesquisar Estações</h1>
    <br />
</center>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="navbar-form">
        <div class="row" style="display:table;width: 100%;height:80%; border: 1px solid bisque; border-radius: 10px; margin-left:0.1%; padding: 1.2% 3% 0.9% 3%; background-color: linen; ">
            <div class="col col-md-3" align="center">
                <div class="form-group" id="RegionSearch">
                    <label>Filtrar por Região</label>&nbsp
                    @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.Regions), "Região", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col col-md-3" align="center">
                <div class="form-group" id="PodTypeSearch">
                    <label>Tipo de Carregamento </label> &nbsp
                    @Html.DropDownListFor(model => model.PodType, new SelectList(ViewBag.PodTypes), "Tipo de Carregamento", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PodType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col col-md-3" align="center">
                <div class="form-group" id="InitTimeSearch" style="bottom: 0;">
                    <label>Horário de Início </label> &nbsp
                    @Html.TextBoxFor(model => model.InitCharge, new { @id = "startTime", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InitCharge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col col-md-3" align="center" @*style="display:table-cell;vertical-align: middle;"*@>
                <div class="form-group" id="EndTimeSearch" style="bottom: 0;">
                    &nbsp <label>Horário de Fim</label> &nbsp
                    @Html.TextBoxFor(model => model.EndCharge, new { @id = "endTime", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EndCharge, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row" style="height:20%" align="center">
            <br />
            <button type="submit" align="center" style="width:110px; height:40px; " class="btn btn-info">
                <font size="+1.1">Filtrar</font>
            </button>
        </div>


    </form>
}

<br /><br />


@(Html
        .Grid(Model.Stations.AsQueryable())
        .Build(columns =>
        {
            columns.Add(model => model.Company.Name).Titled("Nome da Companhia");
            columns.Add(model => model.ComercialName);
            columns.Add(model => model.StreetName);
            columns.Add(model => model.BuildingNumber);
            columns.Add(model => model.Parish);
            columns.Add(model => model.Region);
            columns.Add(model => Html.ActionLink("Marcar","UserAppointmentCreate", "Appointments",
                new{
                    initCharge = Model.InitCharge,
                    endCharge = Model.EndCharge,
                    podTypeStr = Model.PodType,
                    stationId = model.Id,
                }, null)).Titled("Ação");
        })
            .Empty("Não existem dados")
)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var today = new Date();
        var _maxDate = today.getDate() + 7;

        $(function (e) {
            $('#startTime').datetimepicker({
                locale: 'pt',
                minDate: today,
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 15
            });

            $('#endTime').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                locale: 'pt',
                minDate: today,
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 30
            });


            $("#startTime").on("dp.change", function (e) {
                $('#endTime').data("DateTimePicker").minDate(e.date);
                //Adds 5 hours, this is ridiculous
                $('#endTime').data("DateTimePicker").maxDate(new Date(e.date + (5 * 60 * 60 * 1000)));
            });

            $("#endTime").on("dp.change", function (e) {
                $('#startTime').data("DateTimePicker").maxDate(e.date);
            });

            $("#startTime").attr("autocomplete", "off");
            $("#endTime").attr("autocomplete", "off");
        });
    </script>

}
