@model E_Recarga.ViewModels.UserViewModel
<br />
<center>
    <h2>Pesquisar</h2>
</center>
<br /><br />
<form class="navbar-form">
    <div class="row" style="display:table;width: 100%;border: 1px solid bisque;border-radius: 10px;padding: 12px 80px 12px 50px; background-color: linen">
        <div class="col-lg-10">
            <div class="form-group" id="RegionSearch">
                <label>Filtrar por região</label>&nbsp
                @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.Regions), "Região", new { @class = "form-control", @id = "region_id" })
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>

            <br /><br />
            <div class="form-group" id="PodTypeSearch">
                <label>Tipo de carregamento </label> &nbsp
                @Html.DropDownListFor(model => model.PodType, new SelectList(ViewBag.PodTypes), "Tipo de Carregamento", new { @class = "form-control", @id = "pod_id" })
                @Html.ValidationMessageFor(model => model.PodType, "", new { @class = "text-danger" })
            </div>

            <br /><br />
            <div class="form-group" id="InitTimeSearch">
                <label>Horário de Início </label> &nbsp
                @Html.TextBoxFor(model => model.InitCharge, new { @id = "startTime", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InitCharge, "", new { @class = "text-danger" })

            </div>

            <br /><br />
            <div class="form-group" id="EndTimeSearch">
                &nbsp <label>Horário de Fim</label> &nbsp
                @Html.TextBoxFor(model => model.EndCharge, new { @id = "endTime", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndCharge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-offset-10" style="display:table-cell;vertical-align: middle;">
            <button type="submit" style="width:120px; height:50px; display: block; position: relative; margin:auto" class="btn btn-info" onclick="myFunction()">
                <font size="+1.2">Filtrar</font>
            </button>
        </div>
    </div>

</form>
<br /><br />

@Html.AjaxGrid(Url.Action("IndexGrid"))

<script>
    function myFunction() {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        var selectedRegion = $(document.getElementById("region_id")).children("option:selected").val();
        var selectedType = $(document.getElementById("pod_id")).children("option:selected").val();
        var startDate = $(document.getElementById('startTime')).val();
        var endDate = $(document.getElementById('endTime')).val();

        alert("values: " + selectedRegion + " --- " + selectedType + "-----\n" +
            startDate + "---" + endDate);

        grid.query.set('region', selectedRegion);
        grid.query.set('recharge_type', selectedType);
        grid.query.set('init_time', startDate);
        grid.query.set('final_time', endDate);

        grid.reload();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var today = new Date();
        var _maxDate = today.getDate() + 7;

        $(function (e) {
            $('#startTime').datetimepicker({
                locale: 'pt',
                minDate: today,
            });

            $('#endTime').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                locale: 'pt',
                minDate: today
            });


            $("#startTime").on("dp.change", function (e) {
                $('#endTime').data("DateTimePicker").minDate(e.date);
                //Adds 5 hours, this is ridiculous
                $('#endTime').data("DateTimePicker").maxDate(new Date(e.date + (5 * 60 * 60 * 1000)));
            });

            $("#endTime").on("dp.change", function (e) {
                $('#startTime').data("DateTimePicker").maxDate(e.date);
            });

            $("#startTime").attr("autocomplete", "off");
            $("#endTime").attr("autocomplete", "off");
        });
    </script>

}