@model E_Recarga.ViewModels.UserViewModel

@{
    ViewBag.Title = "Pesquisar Estações";
}

<div align="center">
    <br />
    <h2 align="center">Pesquisar Estações</h2>
    <br /><br />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="navbar-form">
        <div class="row" style="display:table;width: 100%;height:80%; border: 1px solid bisque;border-radius: 10px; padding: 1.2% 3% 1.2% 3%; background-color: linen; width:70%;margin-left:15%">
            <div class="col col-md-6" align="center">
                <div class="form-group" id="RegionSearch">
                    <label>Filtrar por Região</label>&nbsp
                    @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.Regions), "Região", new { @class = "form-control", @id = "region_id" })
                    @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                </div>

                <div class="form-group" id="InitTimeSearch">
                    <label>Horário de Início </label> &nbsp
                    @Html.TextBoxFor(model => model.InitCharge, new { @id = "startTime", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InitCharge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col col-md-6" align="center" @*style="display:table-cell;vertical-align: middle;"*@>
                <div class="form-group" id="PodTypeSearch">
                    <label>Tipo de Carregamento </label> &nbsp
                    @Html.DropDownListFor(model => model.PodType, new SelectList(ViewBag.PodTypes), "Tipo de Carregamento", new { @class = "form-control", @id = "pod_id" })
                    @Html.ValidationMessageFor(model => model.PodType, "", new { @class = "text-danger" })
                </div>

                <div class="form-group" id="EndTimeSearch">
                    &nbsp <label>Horário de Fim</label> &nbsp
                    @Html.TextBoxFor(model => model.EndCharge, new { @id = "endTime", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EndCharge, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row" style="height:20%" align="center">
            <br />
            <button type="submit" align="center" style="width:110px; height:40px; " class="btn btn-info">
                <font size="+1.1">Filtrar</font>
            </button>
        </div>


    </form>
}

<br /><br />

@{
    Html.RenderAction("IndexGrid", new { Stations = Model.Stations });
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var today = new Date();
        var _maxDate = today.getDate() + 7;

        $(function (e) {
            $('#startTime').datetimepicker({
                locale: 'pt',
                minDate: today,
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 15
            });

            $('#endTime').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                locale: 'pt',
                minDate: today,
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 30
            });


            $("#startTime").on("dp.change", function (e) {
                $('#endTime').data("DateTimePicker").minDate(e.date);
                //Adds 5 hours, this is ridiculous
                $('#endTime').data("DateTimePicker").maxDate(new Date(e.date + (5 * 60 * 60 * 1000)));
            });

            $("#endTime").on("dp.change", function (e) {
                $('#startTime').data("DateTimePicker").maxDate(e.date);
            });

            $("#startTime").attr("autocomplete", "off");
            $("#endTime").attr("autocomplete", "off");
        });
    </script>

}