@model IQueryable<E_Recarga.Models.ERecargaModels.Appointment>
@using E_Recarga.Models

@{
    ViewBag.Title = "Index";
}

<center>
    <br />
    <h3>Marcações</h3>
    <br />
</center>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Company.Name).Titled("Empresa");
        columns.Add(model => model.Station.ComercialName).Titled("Estação");
        columns.Add(model => model.Pod.Id).Titled("Posto");
        columns.Add(model => model.User.Name).Titled("Utilizador");
        columns.Add(model => model.Cost);
        columns.Add(model => model.Start).Titled("Início");
        columns.Add(model => model.End).Titled("Fim");
        columns.Add(model => model.Status.Name).Titled("Estado");
        if (User.IsInRole(nameof(RoleEnum.CompanyManager)))
            columns.Add(model => @Html.ActionLink("Detalhes", "Details", "Stations", new { id = model.Id }, null)).Titled("Ação");
        else if (User.IsInRole(nameof(RoleEnum.Employee)))
            columns.Add(model => @Html.Raw(Html.ActionLink("Detalhes", "Details", new { id = model.Id }).ToString()) + " | " + Html.ActionLink("Editar", "Edit", new { id = model.Id }).ToString()).Titled("Ações").Encoded(false);
        else //if is the user
            columns.Add(model => @Html.Raw(Html.ActionLink("Detalhes", "Details", new { id = model.Id }).ToString()) + " | " + Html.ActionLink("Eliminar", "Delete", new { id = model.Id }).ToString()).Titled("Ações").Encoded(false);
    })

    .Empty("Não existem dados")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 5;
    })
)