@model E_Recarga.Models.ERecargaModels.Price

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Station.ComercialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station.ComercialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostUltra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostUltra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
