@model IEnumerable<E_Recarga.Models.ERecargaModels.Price>

@{
    ViewBag.Title = "Tabela de Preços";
}

<center>
    <br />
    <h3>Tabela de Preços</h3>
    <br />
</center>
<hr />

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Station.ComercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostNormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostUltra)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Station.ComercialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostUltra)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
