@model E_Recarga.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<center>
    <br /><h2 style="font-size:4rem">Centro de Controlo</h2><br /> @*make this bigger*@
</center>

<br />
<br />
<br />


<div>
    <p>
        <span class="text-info" style="font-size:2.2rem;">Rendimento Total: </span> &nbsp;
        <span style="font-size:2.2rem;">@Model.TotalProfit €</span>
    </p>
</div>
<hr />
<br />

<div class="row">
    <div id="globalRevenueChart" class="col-md-8" style="height:360px"></div>
    <div id="globalDaysStats" class="col-md-4" style="height:360px"></div>
    @*<div id="podUsageStats" class="col-md-12" style="width:100%;height:360px"></div>*@
</div>

<br /><br /><br /><br />
<hr />
<h3 style="text-align:center"> Resultados das 3 Melhores Estações: </h3>
<br />

@foreach (var top in Model.TopStations)
{
    Html.RenderAction("GetTopStation", new { station = top });
    <br />
    <hr />
}



<script>

    window.onload = function loadAllPieCharts() {

        @foreach (var station in Model.TopStations)
        {
            @:DrawOverviewPieChart(@station.Station.Id,@Html.Raw(station.HourPlotJSON));
            @:DrawProfitPieChart(@station.Station.Id, @Html.Raw(station.InfoDaysJSON));
        }

        DrawRevenueChart(@Html.Raw(Model.InfoProfitPerMonthJSON));
        DrawDaysOverviewPieChart("globalDaysStats",@Html.Raw(Model.InfoDaysOfWeekJSON));
        //DrawPodUsagePieChart("podUsageStats",@Html.Raw(Model.InfoPodUsagePerMonthJSON));
    }

</script>