@model E_Recarga.ViewModels.DashboardViewModel
@using E_Recarga.ViewModels;


<center>
    <br /><h1 style="font-size: 7rem;">Dashboard</h1><br /> @*make this bigger*@
</center>

<br />
<br />
<br />


<div>
    <p>
        <span class="text-info" style="font-size:3rem;">Rendimento Total: </span> &nbsp;
        <span style="font-size:3rem;">@Model.TotalProfit</span>
    </p>
</div>
<hr />
<br />

<div id="globalRevenueChart" class="col-md-12" style="width:100%;height:360px"></div>

    @foreach (var top in Model.TopStations)
    {
       Html.RenderAction("GetTopStation", new { station = top });
        <br />
        <hr />
    }




<script>

    window.onload = function loadAllPieCharts() {

        @foreach (var station in Model.TopStations)
        {
            @:DrawOverviewPieChart(@station.Station.Id,@Html.Raw(station.HourPlotJSON));
            @:DrawProfitPieChart(@station.Station.Id, @Html.Raw(station.InfoDaysJSON));

        }

        DrawRevenueChart(@Html.Raw(Model.InfoProfitPerMonthJSON));
    }

</script>