@model E_Recarga.ViewModels.CompanyViewModel
@using E_Recarga.Models

@{
    ViewBag.Title = "Details";
}


<center>
    <br /><h1>@Html.DisplayFor(model => model.Company.Name)</h1><br />
</center>


<div>
    <hr />
    <dl class="dl-horizontal" size="+1.5">
        <dt>
            @Html.DisplayNameFor(model => model.Company.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Email)
        </dd>
    </dl>

    <div class="text-right">
        @if (Request.IsAuthenticated && User.IsInRole(nameof(RoleEnum.CompanyManager)))
        {
            @Html.ActionLink("Editar", "Edit")
        }
        else
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Company.Id })
        }
    </div>
    <hr />
</div>

@if (Request.IsAuthenticated && User.IsInRole(nameof(RoleEnum.CompanyManager)))
{
    <br />
    <h3>Estações</h3>
    <div class="text-right">
        @Html.ActionLink("Criar", "Create", "Stations", new { companyId = Model.Company.Id }, null)<br /><br />
    </div>
    if (Model.Company.Stations.Count == 0)
    {
        <p>Não existem estações atribuídas à empresa.</p>
        <br /><br />
    }
    else
    {
        @(Html
            .Grid(Model.Company.Stations)
            .Build(columns =>
            {
                columns.Add(model => model.Company.Name).Titled("Nome da Companhia");
                columns.Add(model => model.ComercialName);
                columns.Add(model => model.StreetName);
                columns.Add(model => model.BuildingNumber);
                columns.Add(model => model.Parish);
                columns.Add(model => model.Region);
                if (User.IsInRole(nameof(RoleEnum.User)))
                    columns.Add(model => @Html.ActionLink("Marcar", "Create", "Appointments", new { myModel = model }, null)).Titled("Ação");
                else if (User.IsInRole(nameof(RoleEnum.CompanyManager)) || User.IsInRole(nameof(RoleEnum.Employee)))
                    columns.Add(model => @Html.ActionLink("Detalhes", "Details", "Stations", new { id = model.Id }, null)).Titled("Ação");
            })
                .Empty("Não existem dados")
                .Filterable()
                .Sortable()
                .Pageable(pager =>
                {
                    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
                    pager.ShowPageSizes = true;
                    pager.PagesToDisplay = 3;
                    pager.RowsPerPage = 5;
                })
        )
        <hr /><br />
    }
}

<div>
    <h3>Funcionários</h3>
    @if (Request.IsAuthenticated && (User.IsInRole(nameof(RoleEnum.CompanyManager)) || User.IsInRole(nameof(RoleEnum.Administrator))))
    {
        <div class="text-right">
            @Html.ActionLink("Criar", "Create", "Employees", new { companyId = Model.Company.Id }, null)<br /><br />
        </div>
    }

    @if (Model.Company.Employees.Count == 0)
    {
        <p>Não existem trabalhadores atribuídos à empresa.</p>
    }
    else
    {
        string employeeType = "";
        var data = User.IsInRole(nameof(RoleEnum.Administrator)) ? Model.Managers : Model.EmployeeRoleDictionary.Keys.ToList();
        @(Html
            .Grid(data.AsQueryable())
            .Build(columns =>
            {
                columns.Add(model => model.Name);
                columns.Add(model => model.Email).Titled("Email");
                columns.Add(model => model.PhoneNumber).Titled("Telefone");
                if (User.IsInRole(nameof(RoleEnum.CompanyManager)))
                {
                    columns.Add(model => Model.EmployeeRoleDictionary[model]).Titled("Função");
                }
                else
                    columns.Add(model => "Gestor").Titled("Função");
                columns.Add(model => model.Station.ComercialName).Titled("Estação");
            })
            .Empty("Não existem dados")
            .Filterable()
            .Sortable()
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 3;
                pager.RowsPerPage = 5;
            })
        )
        <hr /><br /><br />
    }
    
    @if (Request.IsAuthenticated && User.IsInRole(nameof(RoleEnum.Administrator)))
    {
        @Html.ActionLink("Voltar", "Index")
    }
</div>

