@using E_Recarga.Models

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/globalize")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/Logo-64.png" alt="Site Logo" style="height:24px; width: 24px" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Recarga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole(nameof(RoleEnum.User)))
                    {
                        <li>@Html.ActionLink("Realizar Marcação", "IndexGet", "Users")</li>
                        <li>@Html.ActionLink("Historico de Marcações", "AppointmentsRecords", "Users")</li>
                        <li>@Html.ActionLink("Carteira", "AddMoney", "Users")</li>
                    }
                    else if (User.IsInRole(nameof(RoleEnum.Employee)))
                    {
                        <li>@Html.ActionLink("Estação", "Details", "Stations")</li>
                        <li>@Html.ActionLink("Marcações", "Index", "Appointments")</li>
                        <li>@Html.ActionLink("Preçário", "Index", "Prices")</li>
                        <li>@Html.ActionLink("Postos", "Index", "Pods")</li>
                    }
                    else if (User.IsInRole(nameof(RoleEnum.Administrator)))
                    {
                        <li>@Html.ActionLink("Empresas", "Index", "Companies")</li>
                        <li>@Html.ActionLink("Gestores", "Managers", "Companies")</li>
                    }
                    else if (User.IsInRole(nameof(RoleEnum.CompanyManager)))
                    {
                        <li>@Html.ActionLink("Centro de Controlo", "Dashboard", "Companies")</li>
                        <li>@Html.ActionLink("Empresa", "Details", "Companies")</li>
                        <li>@Html.ActionLink("Preçário", "Index", "Prices")</li>
                        <li>@Html.ActionLink("Marcações", "Index", "Appointments")</li>
                        <li>@Html.ActionLink("Estações", "Index", "Stations")</li>
                        <li>@Html.ActionLink("Postos", "Index", "Pods")</li>
                    }

                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-Recarga</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
    <script src="~/Scripts/drawcharts.js"></script>

    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>

</body>
</html>
